<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}<title>{{ APP_NAME }}</title>{% endblock %}
		<!-- Font -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<!-- bootstrap from internet -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>

		<!-- Google sign in  -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

		<!-- Additional local files -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>

 	<body>
		<div>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="{{url_for('showCatalog')}}">Catalog App</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						{%if 'username' not in session %}
							<li><a href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						{% else %} 
							<li>
								<a href="{{url_for('gdisconnect')}}"><span class="glyphicon glyphicon-log-out"></span>
									<img src="{{ session['picture']}}" alt="profile image" class="navbar-profile-image image-responsive pull-left">
									Logout
								</a>
							</li>
						{% endif %}							
					</ul>
				</div>
			</nav>
		</div>
		{% block content %}
		{% endblock %}
		
		<!-- Footer -->
		<footer class="page-footer special-color-dark pt-4">
	  
	  </footer>
	  <!-- Footer -->	  
	</body>
</html>   